html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    color: #0f0e13;
    font-family: Arial, sans-serif;
}

/* 左侧条 */
.left-bar {
    width: 61px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    transition: width 0.2s;
}

/* 签名 */
.signature {
    width: 61px;
    margin: 2vh 0;
}

/* 左侧条的按钮们 */
.left-bar-item {
    width: 300px;
    height: 70px;
    padding-bottom: 10px;
    border: 1px;
    border-color: #333;
    text-underline-offset: none;
    color: #021216;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: height .11s cubic-bezier(0.42, 0.00, 0.58, 1.00), background-color .2s;
}

/* 按钮图标 */
.left-bar-item-icon {
    width: 61px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: height 0.1s, width 0.1s;
}

.left-bar-item-icon > svg {
    width: 60%;
    height: 60%;
    color: #aaa;
    transition: color 0.3s;
}
/* 按钮文本 */
.left-bar-item-text {
    height: 100%;
}

.left-bar-item-title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.3rem;
    font-weight: 500;
    transition: transform .2s, color .2s;
}

.left-bar-item-detial {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    color: #e5e6d0;
    transition: opacity .2s, transform .2s;
}
/* 转换页面的过渡小球 */
/* .trans-ball {
    position: relative;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
    background-color: #000000;
    z-index: -1;
} */

/* 展开动画 */
.left-bar:hover {
    width: 300px;
    animation: none;

    .left-bar-item-icon {
        width: 70px;
        height: 70px;
    }

    .left-bar-item-icon > svg {
        color: #333;
    }

    .right-mainPage {
        width: calc(100vw - 300px);
        margin-left: 300px;
    }
}

/* 鼠标移到按钮上的动画 */
.left-bar-item:hover {
    height: 139px;
    background-color: #818ce1;

    .left-bar-item-title {
        transform: translateY(calc(-50% - 1.3rem));
        color: #e8e4e4;
    }

    .left-bar-item-detial {
        opacity: 1;
        transform: translateY(calc(-50% - .8rem));
    }

    /* html .right-mainPage {
        transform: translateX(120px) !important;
    } */
}

/* 主要 */
.right-mainPage {
    width: calc(100vw - 61px);
    min-height: 100vh;
    margin-left: 61px;
    font-size: 1.2rem;
    background-color: rgb(250, 250, 250);
    transition: transform .2s;
}

.maintext {
    width: calc(100% - 40vw);
    height: auto;
    padding: 4vh 20vw 20vh;
}

/* a标签的链接图标 */
.maintext > a {
    color: #0e181acb;
    text-underline-offset: none;
    text-decoration: none;
    position: relative;
    display: inline-block;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24"><path fill="currentColor" d="m13.29 9.29l-4 4a1 1 0 0 0 0 1.42a1 1 0 0 0 1.42 0l4-4a1 1 0 0 0-1.42-1.42"/><path fill="currentColor" d="M12.28 17.4L11 18.67a4.2 4.2 0 0 1-5.58.4a4 4 0 0 1-.27-5.93l1.42-1.43a1 1 0 0 0 0-1.42a1 1 0 0 0-1.42 0l-1.27 1.28a6.15 6.15 0 0 0-.67 8.07a6.06 6.06 0 0 0 9.07.6l1.42-1.42a1 1 0 0 0-1.42-1.42m7.38-14.18a6.18 6.18 0 0 0-8.13.68L10.45 5a1.09 1.09 0 0 0-.17 1.61a1 1 0 0 0 1.42 0L13 5.3a4.17 4.17 0 0 1 5.57-.4a4 4 0 0 1 .27 5.95l-1.42 1.43a1 1 0 0 0 0 1.42a1 1 0 0 0 1.42 0l1.42-1.42a6.06 6.06 0 0 0-.6-9.06"/></svg>'); 
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 16px 16px;
    padding-right: 20px;
}


/* Link Card */
.linkCard {
    width: 321px;
    height: 150px;
    margin: 8px;
    border-radius: 8px;
    display: flex;
    box-shadow: 0px 1px 4px #112d4e30;
    background-color: #ffffff;
    color: #112d4e;
    text-underline-offset: none;
    text-decoration: none;
    transition: box-shadow .3s, background-color .3s, color .3s, transform .3s;
}

.linkCard-headimg {
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkCard-headimg > img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
}

.linkCard-rightText {
    height: 100%;
}

.linkCard-rightText-name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 10px;
}

.linkCard-rightText-discribe {
    width: 170px;
    height: 2rem;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 8px;
    color: #555555;
    overflow: hidden;
    border-radius: 8px;
    transition: height .3s, background-color .3s;
}


.linkCard:hover {
    box-shadow: 1px 2px 8px #112d4e30;
    background-color: #3f72af;
    color: #f9f7f7;
    transform: translateY(-2px) scale(1.01);

    .linkCard-rightText-discribe {
        height: auto;
    }
}